@model List<Despesas>


@{
    ViewData["title"] = "Despesas";
}

@section Styles {
    <link rel="stylesheet" href="/css/tabelas.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/PopUp.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
}



<div class="card-corpo">
    <h1>Despesas</h1>
    <a class="btn-cadastro" asp-controller="Despesas" asp-action="Criar"><i class="bi bi-person-add mx-2"></i>Cadastrar nova Despesa</a>
</div>


<br />

<h3>Gerenciamento de Despesas</h3>
<h6>Você poderá alterar, deletar ou editar suas despesas cadastradas no sistema.</h6>

<br />


@if (TempData["SuccessMessage"] != null || TempData["ErrorMessage"] != null || TempData["WarningMessage"] != null)
{
    <div class="modal-overlay" id="messageModal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal()">&times;</span>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="modal-message success">
                    <i class="bi bi-check-circle" style="color: black; mx-2"></i>

                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="modal-message error">
                    <i class="bi bi-x-circle" style="color: black; mx-2"></i>

                    @TempData["ErrorMessage"]
                </div>
            }

            @if (TempData["WarningMessage"] != null)
            {
                <div class="modal-message alert">
                    <i class="bi bi-exclamation-circle" style="color: black; mx-2"></i>

                    @TempData["WarningMessage"]
                </div>
            }
        </div>
    </div>
}

<div class="overflow-auto" style="max-height: 650px;">
    <table class="modern-table" id="TDespesas">
        <thead>
            <tr>
                <th scope="col">Paga</th>
                <th scope="col">Despesa</th>
                <th scope="col">Observações</th>
                <th scope="col">Valor</th>
                <th scope="col">Vencimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var despesa in Model)
                {
                    <tr>
                        <td>
                            @if (despesa.Paga == "Sim")
                            {
                                <i class="bi bi-check-circle-fill text-success mx-2">Sim</i>
                            }
                            else
                            {
                                @despesa.Paga
                            }

                        </td>
                        <td>@despesa.Despesa</td>
                        <td>@despesa.Observacao</td>
                        <td>@despesa.Valor</td>
                        <td>
                            @despesa.Vencimento.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            <a asp-controller="Despesas" asp-action="Editar" asp-route-id="@despesa.Id" class="btn btn-warning mx-2"><i class="bi bi-pen-fill mx-2"></i>Editar</a>
                            <a asp-controller="Despesas" asp-action="Excluir" asp-route-id="@despesa.Id" class="btn btn-danger mx-2"><i class="bi bi-trash3-fill mx-2"></i>Excluir</a>
                            <a asp-controller="Despesas" asp-action="Pagar" asp-route-id="@despesa.Id" class="btn btn-success mx-2"><i class="bi bi-cash-coin mx-2"></i>Pagar</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>



<script src="/js/Despesas.js" asp-append-version="true"></script>
<script src="/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

